* {
	font-family: Montserrat;
	margin: 0;
	background-color: #e6eeff;
}
#welcome {
	font-size: 30px;
	font-weight: 600;
	display: inline;
	margin-left: 33%;
	color: #000c66;
}
div > #img {
	float: right;
	margin-right: 2%;
	border: 0px;
	border-radius: 50px;
}
div > #img:hover {
	background-color: #f5f5f5;
	cursor: pointer;
}
.show > #p {
	display: inline;
	margin-left: 35%;
	color: #000c66;
}
.render {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: max-content;
	/* background-image: url("../components/body2.jpg"); */
	/* background-size: cover; */
}
.cards {
	display: block;
}
body {
	margin: 0;
}
.home {
	margin-top: 2%;
}
hr {
	border: 1px solid;
}
.work {
	margin: 0 0 0 25%;
}
#work {
	height: 50vh;
	width: 40vw;
}
#add {
	float: right;
	margin-right: 2%;
	border: 0px;
	border-radius: 2px;
	height: 6vh;
	width: 8vw;
	background-color: #1565c0;
	color: white;
	font-weight: 600;
	box-shadow: 0 0px 10px rgba(0, 0, 0, 0.122), 0 0px 80px rgba(0, 0, 0, 0.2);
}
#add:hover {
	cursor: pointer;
	background-color: #0d47a1;
}
#show {
	margin-left: 1%;
	border: 0px;
	border-radius: 2px;
	height: 5vh;
	background-color: #1565c0;
	color: white;
	font-weight: 600;
	box-shadow: 0 0px 10px rgba(0, 0, 0, 0.122), 0 0px 80px rgba(0, 0, 0, 0.2);
}
#show:hover {
	cursor: pointer;
	background-color: #0d47a1;
}
.none > #welcome {
	margin-left: 37%;
}
