* {
	font-family: Montserrat;
	margin: 0;
}
.home-div {
	padding-top: 1%;
	background-color: #e6eeff;
	height: 100vh;
}
.homepage {
	display: flex;
	flex-direction: column;
}
.welcome-msg {
	font-size: 30px;
	font-weight: 600;
	margin-left: 38%;
	color: #324567;
}
.render-cards {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: max-content;
}
.cards {
	display: block;
}

.work-image-div {
	display: flex;
	flex-direction: column;
}
.work-image {
	display: flex;
	margin: 3% auto auto 30%;
	height: 50vh;
	width: 40vw;
}
.add-task {
	float: right;
	margin-right: 2%;
	border: 0px;
	border-radius: 2px;
	height: 6vh;
	width: 8vw;
	background-color: #1565c0;
	color: white;
	font-weight: 600;
	box-shadow: 0 0px 10px rgba(0, 0, 0, 0.122), 0 0px 80px rgba(0, 0, 0, 0.2);
}
.add-task:hover {
	cursor: pointer;
	background-color: #0d47a1;
}

.log-out {
	float: right;
	margin-right: 2%;
	border: 0px;
	border-radius: 2px;
	height: 6vh;
	width: 8vw;
	background-color: #1565c0;
	color: white;
	font-weight: 600;
	box-shadow: 0 0px 10px rgba(0, 0, 0, 0.122), 0 0px 80px rgba(0, 0, 0, 0.2);
}
.log-out:hover {
	cursor: pointer;
	background-color: #0d47a1;
}
.show-tasks {
	margin-left: 1%;
	border: 0px;
	border-radius: 2px;
	height: 5vh;
	background-color: #1565c0;
	color: white;
	font-weight: 600;
	box-shadow: 0 0px 10px rgba(0, 0, 0, 0.122), 0 0px 80px rgba(0, 0, 0, 0.2);
}
.show-tasks:hover {
	cursor: pointer;
	background-color: #0d47a1;
}
.no-tasks {
	display: flex;
	margin-top: 2%;
	justify-content: center;
}
